html, body {
  min-height: 100vh;
  height: 100%;
}

.jumbotron {
  background-color: #EBF4FA;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 51rem;
}


.base-nav-bar {
    font-family: cursive;
}


.main-footer {
    background-image: url("/static/footer.png") 50% 0 no-repeat fixed;
    color: #ffffff;
}