{% extends 'videos/base.html' %}
{% load static %}
{% block content %}
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}" />

<div class="container">
	<h2>Add Youtube Video</h2>
	<form method="post" id="submit_video">
		{% csrf_token %}
		{% load widget_tweaks %}

		{% for field in form %}
		<div class="form-group {% if field.errors %}alert alert-danger{% endif %}">
			{{ field.errors }}
			{{ field.label_tag }}
			{% render_field field class="form-control" %}
		</div>
		{% endfor %}

		<button type="submit" class="btn btn-primary">Add</button>
	</form>
	<br>
	<!-- Search form -->
	<h3>Search</h3>
	{% for field in search_form %}
		<div class="form-group">
			{{ field.errors }}
			{{ field.label_tag }}
			{% render_field field class="form-control" %}
		</div>
	{% endfor %}
	<br>
	
	<!-- Success messages -->
	<div>
		{% if messages %}
		<ol class="messages">
	    	{% for message in messages %}
	    	<li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
	    	{% endfor %}
		</ol>
		{% endif %}
	</div>

	<!-- Search results -->
	<div id="search_results"></div>
	<script src="{% static 'app.js' %}"></script>  
</div>

{% endblock %}