{% extends 'videos/base.html' %}
{% load static %}
{% block content %}

<div class="container">
	<h2>Are you certain you want to delete this video?</h2>
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" class="btn btn-danger">Delete</button>
		<button type="submit" class="btn btn-primary"><a href="{% url 'dashboard' %}" class="btn btn-primary">Back</a></button>
	</form>

<br>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="box-container">
    <div class="col-md-4 mt-3">
        <div class="card mb-4 shadow-sm">
            <iframe width="100%" height="225" src="https://www.youtube.com/embed/{{ yt.youtube_id}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
                <p class="card-test">{{ yt.title }}</p>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'app.js' %}"></script>
{% endblock %}