{% extends 'videos/base.html' %}
{% load static %}
{% block content %}
<div class="upload-container">
<div class="container">
    <h2>Are you certain you want to delete?</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="srButton">Delete</button>
        <button type="submit" class="srButton"><a href="{% url 'dashboard' %}" style="color: white">Back</a></button>
    </form>
    <br>
    <h2><a href="{% url 'detail_list' video.id %}">{{ video.title }}</a></h2>
</div>
</div>
<script src="{% static 'app.js' %}"></script>
{% endblock %}