{% extends 'videos/base.html' %}
{% block content %}
<div class="container">
    <h1>{{ video.title }}</h1>
    <h4 class="text-muted">{{ video.user.username }}</h4>
</div>
{% if user.id == video.user.id %}
<a href="{% url 'delete_list' video.id %}" class="btn btn-danger">Delete</a>
<a href="{% url 'update_list' video.id %}" class="btn btn-primary">Edit</a>
<a href="{% url 'add_YT_video' video.id %}" class="btn btn-primary">Add Video</a>
<div class="row">
    {% for yt in video.yt_set.all %}
    <div class="col-md-4 mt-3">
        <div class="card mb-4 shadow-sm">
            <iframe width="100%" height="225" src="https://www.youtube.com/embed/{{ yt.youtube_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
                <p class="card-text"><a href="{{ yt.url }}">{{ yt.url }}</a></p>
                <a href="{% url 'delete_yt_video' yt.id %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
    <br>
    {% endfor %}
    {% endif %}
    {% endblock %}