{% extends 'videos/base.html' %}
{% block content %}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Welcome {{ user.username }}</h1>
        <br>
        <p class="jumbotron-heading">This is an app that allows you to record YouTube videos where copyright claims have been
            made. <br> Add a channel name below, and look at your dashboard to add videos to the channel.</p>
        <br>
        <br>
        <p>
            <a href="{% url 'create_list' %}" class="srButton">Create New YouTube Channel</a>
        </p>
    </div>
</section>
<br>
<div class=table-container>
<div class="home-table">
<div class="text-center">
    <table class="front-table" style="width:100%">
        <tr>
            <th class="table-container.th">Channel ID</th>
            <th class="table-container.th">Video Count</th>
        </tr>
        {% for channel in channels %}
        <tr>
            <td class="table-container.td"><a href="{% url 'detail_list' channel.id %}" style="color:black">{{ channel.title }}</a></td>
            <td class="table-container.td">{{ channel.yt_set.count }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>
</div>

{% endblock %}
