{% extends 'videos/base.html' %}
{% block content %}
<div class="container">
    <div class="text-center">
        <h1>{{ user.username }}'s Home Page</h1>
        <a href="{% url 'create_list' %}" class="btn btn-primary">Create New YouTube Channel</a>
    </div>
</div>
<br>
{% if channels %}
<div class="text-center">
    <table style="width:100%">
        <tr>
            <th>Channel ID</th>
            <th>Video Count</th>
        </tr>
        {% for channel in channels %}
        <tr>
            <td>{{ channel.title }}</td>
            <td>{{ channel.yt_set.count }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>
{% else %}
    <br>
    <br>
    <div class="row text-center">
        <div class="container">
        <h2>Nothing to see here!</h2>
        <h3>Click above to create a new list</h3>
    </div>
</div>
{% endif %}
{% endblock %}