{% extends 'videos/base.html' %}
{% block content %}

<div class="container">
	<h2>Edit List</h2>
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" class="btn btn-primary">Save</button>
	</form>

<a href="{% url 'delete_list' video.id %}" class="btn btn-danger">Delete</a>

</div>

<div class="container">
	<h2>Add Youtube Video</h2>
	<form method="post" id="submit_video">
		{% csrf_token %}
		{% load widget_tweaks %}

		{% for field in form %}
		<div class="form-group {% if field.errors %}alert alert-danger{% endif %}">
			{{ field.errors }}
			{{ field.label_tag }}
			{% render_field field class="form-control" %}
		</div>
		{% endfor %}

		<button type="submit" class="btn btn-primary">Add</button>
	</form>

{% endblock %}