{% extends 'admin/base.html' %}
{% load static %}

{% block extrahead %}
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'admin-extra.css' %}" >
<link type="text/css" rel="stylesheet" href="{% static 'custom.css' %}" >
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
{% endblock %}

{% block branding %}

<title>{% block title %}RPU Database | {% now "Y" %}{% endblock %}</title>

<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}" />
<div class='base-nav-bar'>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
        <h1><a href="{% url 'home' %}" class="text-dark"><img src="{% static 'sr_white.png' %}" alt="logo" class="logo-image" height="70pc"></a></h1>
    </div>
</div>


{% endblock %}


{% block sidebar %}
<!-- Custom html content -->
{% endblock %}

{% block footer %}
<div class="main-footer">
<footer class="main-footer">
Copyright &copy;
	<span class="year"><a href="https://github.com/Jattwood90" style="color:white">Joe Attwood {% now "Y" %}</a></span> 
</footer>
</div>
{% endblock %}

{% block extrastyle %}
<!-- place css changes here -->
{% endblock %}



